@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.detailed-view {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  transform: translateX(50px);
  transition: transform 0.5s ease-in-out;
}

.detailed-view.show {
  transform: translateX(0);
}

.hover-up {
  transition: transform 0.3s ease-in-out;
}

.hover-up:hover {
  transform: translateY(-10px);
}